<a href="https://colab.research.google.com/github/edduuuu/POO2/blob/main/introducci%C3%B3n_a_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

El lenguaje de consulta estructurada (SQL) es un lenguaje de consulta popular que se usa con frecuencia en todos los tipos de aplicaciones. Los analistas y desarrolladores de datos aprenden y usan SQL porque se integra bien con los diferentes lenguajes de programación.

para que te sirve y como lo imaginas que lo puedes usar en tu carrera?
sirve para trabajar con las bases de datos y me puede servir para trabajar con los diferentes datos de la empresa

que librerías hay en Google Colab


*   sqlite
*   Elemento de lista

In [1]:
import sqlite3

In [3]:
con = sqlite3.connect("libros_db.sqlite")
cursor = con.cursor()
cursor.execute('''
               CREATE TABLE Libros (
                id INTEGER PRIMARY KEY,
                titulo TEXT NOT NULL,
                autor TEXT NOT NULL,
                año INTEGER
               )

''')

In [5]:
libros_datos= [("Harry Potter", "J.K.R", 1997),
               ("The Hobbit", "Tolkien", 1937),
               ("Better than the Movies", "Lynn Painter", 2021),
               ("La Sombra de Viento", "Carlos Ruiz Zafón", 2001)]
cursor.executemany("""
INSERT INTO libros (titulo, autor, año) VALUES (?, ?, ?)""",libros_datos)
con.commit()

In [6]:
cursor.execute("SELECT * FROM libros")
libros = cursor.fetchall()
for libro in libros:
  print(libros)

[(1, 'Harry Potter', 'J.K.R', 1997), (2, 'The Hobbit', 'Tolkien', 1937), (3, 'Better than the Movies', 'Lynn Painter', 2021), (4, 'La Sombra de Viento', 'Carlos Ruiz Zafón', 2001)]
[(1, 'Harry Potter', 'J.K.R', 1997), (2, 'The Hobbit', 'Tolkien', 1937), (3, 'Better than the Movies', 'Lynn Painter', 2021), (4, 'La Sombra de Viento', 'Carlos Ruiz Zafón', 2001)]
[(1, 'Harry Potter', 'J.K.R', 1997), (2, 'The Hobbit', 'Tolkien', 1937), (3, 'Better than the Movies', 'Lynn Painter', 2021), (4, 'La Sombra de Viento', 'Carlos Ruiz Zafón', 2001)]
[(1, 'Harry Potter', 'J.K.R', 1997), (2, 'The Hobbit', 'Tolkien', 1937), (3, 'Better than the Movies', 'Lynn Painter', 2021), (4, 'La Sombra de Viento', 'Carlos Ruiz Zafón', 2001)]